<div class="container">
	<div class="header"><h2>Page title</h2></div>

	<div class="options">
		<div class="box">
			<h2>A short description about Option 1.</h2>
			<br />
			When in desktop mode the height of this box will extend to the bottom of
			Option 4.
		</div>

		<div class="box">
			<h2>Option 2</h2>

			2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
			quam, architecto similique rem adipisci iste ratione nobis minus eius
			quibusdam asperiores aspernatur animi quod esse, laudantium facilis
			praesentium, quidem iusto. Lorem ipsum dolor sit, amet consectetur
			adipisicing elit. Inventore quam, architecto similique rem adipisci iste
			ratione nobis minus eius quibusdam asperiores aspernatur animi quod esse,
			laudantium facilis praesentium, quidem iusto. Lorem ipsum dolor sit, amet
			consectetur adipisicing elit. Inventore quam, architecto similique rem
			adipisci iste ratione nobis minus eius quibusdam asperiores aspernatur
			animi quod esse, laudantium facilis praesentium, quidem iusto.
		</div>

		<div class="box">
			<h2>Option 4</h2>

			4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
			quam, architecto similique rem adipisci iste ratione nobis minus eius
			quibusdam asperiores aspernatur animi quod esse, laudantium facilis
			praesentium, quidem iusto.
		</div>
		<div class="box">
			<h2>Option 3</h2>

			3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
			quam, architecto similique rem adipisci iste ratione nobis minus eius
			quibusdam asperiores aspernatur animi quod esse, laudantium facilis
			praesentium, quidem iusto. Lorem ipsum dolor sit, amet consectetur
			adipisicing elit. Inventore quam, architecto similique rem adipisci iste
			ratione nobis minus eius quibusdam asperiores aspernatur animi quod esse,
			laudantium facilis praesentium, quidem iusto.
		</div>
	</div>

	<div class="footer">
		<h2>Footer</h2>
	</div>
</div>
